/* CSS Document for Alfapet Liner Calculator
Developed by Adam Johnes */
body {
  padding: 10px;
  background: rgb(212, 207, 207);
}

div {
  margin: 0 auto;
  width: 1000px;
}

#titleBox {
  height: 100px;
  background-color: rgb(198, 208, 216);
  border: 2px solid rgb(11, 26, 41);
}

#title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(51, 54, 56);
  margin-left: 20px;
  margin-bottom: -10px;
}

#infotitle {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  margin-left: 20px;
}

#main {
  border: 2px solid rgb(11, 26, 41);
  background-color: rgb(223, 236, 247);
  height: 540px;
}

#description {
  height: 160px;
  background-color: rgb(243, 242, 248);
  border-left: 2px solid rgb(11, 26, 41);
  border-right: 2px solid rgb(11, 26, 41);
  border-top: 1px solid rgb(11, 26, 41);
  text-align: center;
}

#aboutTitle {
  font-size: 24px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 120px;
  margin-bottom: -10px;
}

#about {
  width: 600px;
  margin-left: 27.5%;
}

#calculator {
  border: 2px solid lightslategray;
  margin-left: 75px;
  margin-top: -15px;
  padding: 5px;
  width: 120px;
  height: 120px;
  float: left;
}

#form {
  width: 300px;
  height: 420px;
  background-color: rgb(243, 242, 248);
  border: 3px solid rgb(56, 69, 82);
  float: left;
  margin-left: 40px;
  margin-top: 55px;
}

#linerCalculator {
  font-weight: bold;
  font-size: 16px;
  margin-left: 48px;
  margin-top: 20px;
  width: 200px;
  border: 2px solid lightsteelblue;
  background-color: rgb(198, 208, 216);
  text-align: center;
}

#labelLength {
  margin-left: 45px;
}

#length {
  margin-left: 45px;
  text-align: center;
}

#lengthError{
  text-align: center;
  color: darkred;
  font-size: 13px;
  margin-top: -22px;
  height: 10px;
}

#labelWidth {
  margin-left: 45px;
}

#width {
  margin-left: 45px;
  text-align: center;
}

#widthError{
  text-align: center;
  color: darkred;
  font-size: 13px;
  margin-top: -22px;
  height: 10px;
}

#labelHeight {
  margin-left: 45px;
}

#height {
  margin-left: 45px;
  text-align: center;
}

#heightError{
  text-align: center;
  color: darkred;
  font-size: 13px;
  margin-top: -22px;
  height: 10px;
}

#myBtn {
  margin-top: 5px;
  margin-left: 70px;
  height: 30px;
  width: 70px;
}

#outputBox {
  border: 2px solid lightslategray;
  width: 270px;
  height: 80px;
  margin-top: 10px;
}

#output {
  height: 70%;
  margin-left: 6px;
  margin-right: 6px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#reset {
  margin-left: 10px;
}

#box {
  border: 2px solid black;
  width: 330px;
  height: 190px;
  float: left;
  margin-left: 20px;
  margin-top: 60px;
}

#L1info {
  width: 280px;
  padding: 5px;
  float: right;
  margin-right: 13px;
  margin-top: 100px;
  background-color: rgb(243, 248, 252);
  border: 1px solid rgb(13, 13, 14);
  text-align: center;
  font-weight: bold;
}

#box2 {
  border: 2px solid black;
  float: left;
  width: 330px;
  height: 190px;
  margin-top: 33px;
  margin-left: 20px;
}

#L2info {
  width: 280px;
  padding: 5px;
  float: right;
  margin-right: 13px;
  margin-top: 60px;
  background-color: rgb(243, 248, 252);
  border: 1px solid rgb(13, 13, 14);
  text-align: center;
  font-weight: bold;
}

#mainBottom {
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  height: 200px;
  background-color: rgb(243, 242, 248);
}

#sizes {
  font-family: Abadi;
  text-align: center;
  background-color:rgb(239, 242, 245);
  font-size: 30px;
  width: 300px;
  margin: auto;
}

#table {
  border: 2px solid black;
  padding: 5px;
  width: 30%;
  margin-left: 350px;
  margin-top: -5px;
  background-color: rgb(214, 211, 230);
}

td {
  text-align: center;
  border: 1px solid black;
  background-color: rgb(226, 231, 236);
}

#returnLink {
  margin-left: 345px;
  text-align: center;
}

#alfapet {
  text-align: center;
  background-color: rgb(243, 242, 248);
  border: 1px solid black;
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}